<?php
/**
 *  link.phtml
 *  Copernica Marketing Software
 */
?>

<div class="content-header">
    <h3 class="icon-head head-system-account">Copernica Marketing Software : Link Fields</h3>
    <p class="content-buttons">
        <button type="button" id="validate">Validate</button>
        <button type="button" id="save">Save</button>
    </p>
</div>

<div id="linking-view" class="columns">
    <div class="side-col">
        <h3>
            Copernica structure
        </h3>
        <ul id="collection_list" class="tabs">
            <li data-target="default">
                <a class="tab-item-link">
                    <span>
                        Default structure
                    </span>
                </a>
            </li>        
            <li data-target="main">
                <a class="tab-item-link">
                    <span>
                        Database
                    </span>
                </a>
            </li>         
            <li data-target="cartproducts">
                <a class="tab-item-link">
                    <span>
                        Cart items collection
                    </span>
                </a>
            </li>
            <li data-target="orders">
                <a class="tab-item-link">
                    <span>
                        Orders collection
                    </span>
                </a>
            </li>
            <li data-target="orderproducts">
                <a class="tab-item-link">
                    <span>
                        Order items collection
                    </span>
                </a>
            </li>
            <li data-target="addresses">
                <a class="tab-item-link">
                    <span>
                        Address collection
                    </span>
                </a>
            </li>
            <li data-target="viewedproducts">
                <a class="tab-item-link">
                    <span>
                        Viewed products collection
                    </span>
                </a>
            </li>
            <li data-target="wishlistproducts">
                <a class="tab-item-link">
                    <span>
                        Wishlist items collection
                    </span>
                </a>
            </li>            
        </ul>
    </div>

    <div id="collection_view" class="main-col">
    
    </div>
</div>

<script>
    // create Copernica namespace
    var Copernica = Copernica || {};

    // We want to pass relevant ajax urls to js file. To do that we will create
    // a namespace object that will hold urls. This way we can still keep generating 
    // urls in controller and actual usage will be in js file.
    Copernica.ajaxUrls = {
        collection: {
        	default: '<?php echo $this->getAjaxCollectionDefaultUrl(); ?>',
            fetch: '<?php echo $this->getAjaxCollectionFetchUrl(); ?>',                        
            validate: '<?php echo $this->getAjaxCollectionValidateUrl(); ?>',
            store: '<?php echo $this->getAjaxCollectionStoreUrl(); ?>'
        }
    };

    // create view instance
    var view = new Copernica.MainView($('linking-view'));

</script>