<?php
/** 
 *  View for Settings controller
 *  Copernica Marketing Software
 *  http://www.copernica.com 
 */

// get config into local scope
$_config = Mage::helper('marketingsoftware/config');

// authorization url
$authorizeUrl = 'https://www.copernica.com/en/authorize';

// what we will include in our query string
$query = array(
	// client_id
	'client_id'     =>  $_config->getClientKey(),

	// where we should return after we authorize?
	'redirect_uri'  =>  $this->getStateUrl(),

	// we do store state inside session
	'state'         =>  Mage::getSingleton('adminhtml/session')->getState(),		
		
	// we want response in form of code
	'response_type' =>  'code',
				
    // get access to all resources
    'scope'         =>  'all',      
);

// parts of the query string
$parts = array();

// format our url properly
foreach ($query as $key => $part) $parts[] = implode('=', array($key, urlencode($part)));

// append query string to our authorization url
$authorizeUrl.= '?'.implode('&', $parts);

// get current controller
$currentController = $this->getAction();
?>

<script type="text/javascript">

// on page load
Event.observe(window, 'load', init, false);

// initialize function
function init() {  

    // when button is clicked we want to save information on server
    $('cp_save').observe('click', function(event) {
        $('cp_form').submit();
    });

    $('qs_save').observe('click', function(event) {
        $('qs_form').submit();
    });

    $('ss_save').observe('click', function(event) {
        $('ss_form').submit();
    });
}

</script>

<div class="content-header">
    <h3 class="icon-head head-system-account">
        Copernica Marketing Software : Settings
    </h3>
</div>

<!-- Start of status box -->
<?php if (count($currentController->getErrors()) or count($currentController->getWarnings())) { ?>
    <div class="entry-edit">    
        <div class="entry-edit-head collapsable">
            <h4>Current status</h4>
        </div>
        <div class="fieldset collapsable">
            <ul>
                <?php foreach ($currentController->getErrors() as $error) { ?>
                    <li><?php echo $error ?></li>
                <?php } ?>
                <?php foreach ($currentController->getWarnings() as $warning) { ?>
                    <li><?php echo $warning ?></li>
                <?php } ?>
            </ul>
        </div>
    </div>
<?php } ?>
<!-- End of status box -->

<div class="entry-edit">
    <form action="<?php echo $this->getPostUrl(); ?>" method="post" name="cp_form" id="cp_form">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">
                REST API
            </h4>
        </div>
        <div class="fieldset">
            <div class="hor-scroll">
                <table cellspacing="0" class="form-list">
                    <tbody>
                        <tr>
                            <td class="label">
                                <label for="cp_client_key">Client key</label>
                            </td>
                            <td class="value">
                                <input type="text" class="required-entry input-text" title="Client key" name="cp_client_key" value="<?php echo $_config->getClientKey(); ?>" id="cp_client_key">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                <label for="cp_client_secret">Client secret</label>
                            </td>
                            <td class="value">
                                <input type="text" class="required-entry input-text" title="Client secret" name="cp_client_secret" value="<?php echo $_config->getClientSecret(); ?>">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                Current Access Token
                            </td>
                            <td class="value">
                                <?php 
                                    $accessToken = Mage::helper('marketingsoftware/config')->getAccessToken(); 

                                    if ($accessToken) { 
                                ?>

                                    <b>Valid</b>

                                <?php } elseif ($_config->getClientKey()) { ?>
                                    <p>
                                        To use this Copernica platform you have to obtain an Access Token
                                        to Copernica REST API. To obtain one go to <a href="<?php echo $authorizeUrl; ?>">authorization page</a>.
                                    </p>


                                <?php } else { ?>
                                    <p>
                                        Fill Client key.
                                    </p>
                                <?php } ?> 
                                
                            </td>
                        </tr>
                        <tr>
                            <td class="label"></td>
                            <td class="value'">
                                <a href="<?php echo $this->getAccessTokenUrl(); ?>">inspect access token</a>
                            </td>
                        </tr>
                        <?php if ($response = $this->getRequest()->getParam('response')) { ?>
                            <tr>
                                <td class="label">
                                    Authorization response
                                </td>
                                <td class="value">
                                    <?php if ($response == 'new-access-token') { ?>
                                        New Access Token was stored.
                                    <?php } elseif ($response == 'invalid-state') { ?>
                                        Invalid state code was returned
                                    <?php } elseif ($response =='authorize-error') { 

                                        // get seesion into local scope
                                        $session = Mage::getSingleton('core/session');

                                        // get serialized error
                                        $serializedError = $session->getErrorMessage();

                                        // unset session variable
                                        $session->unsErrorMessage();
                                    ?>
                                        Authorization call failed. Error: <?php echo $serializedError; ?>
                                    <?php } ?>
                                </td>
                            </tr>
                        <?php } ?>
                        <tr>
                            <td class="label">
                                <button type="button" name="cp_save" id="cp_save">Save connection settings</button>
                            </td>
                            <td>
                                <a href="https://www.copernica.com/en/support/rest/register-your-app-on-copernica-com" target="_blank">How to obtain key and secret?</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<div class="entry-edit">
    <form action="<?php echo $this->getQueuePostUrl(); ?>" method="post" name="qs_form" id="qs_form">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">
                Synchronization settings
            </h4>
        </div>
    
        <div class="fieldset">
                <div class="hor-scroll">
                    <table cellspacing="0" class="form-list">
                        <tbody>
                            <tr>
                                <td class="label">
                                    Api server
                                </td>
                                <td class="value">
                                    <input type="text" name="qs_api_server" id="qs_api_server" class="input-text" value="<?php $host = $_config->getApiHostname(); if ($host) echo $host; else echo 'https://api.copernica.com'; ?>">
                                </td>
                            </tr>
                            <tr>
                                <td class="label"> 
                                    Maximum items per run
                                </td>
                                <td class="value">
                                    <input name="qs_max_items" id="qs_max_items" class="input-text" type="text" value="<?php echo $_config->getItemsPerRun(); ?>">
                                </td>
                                <td class="label">
                                    Leave it blank for unlimited
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Maximum time per run (in seconds)
                                </td>
                                <td class="value">
                                    <input name="qs_max_time" id="qs_max_time" class="input-text" type="text" value="<?php echo $_config->getTimePerRun(); ?>">
                                </td>
                                <td class="label">
                                    Leave it blank for unlimited
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Use standard scheduler
                                </td>
                                <td class="value">
                                    <input type="checkbox" name="qs_vanilla_crons" <?php if ($_config->getVanillaCrons()) { ?> checked="checked" <?php } ?>>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Abandoned cart timeout
                                </td>
                                <td class="value">
                                    <input type="text" class="input-text" name="qs_abandoned_timeout" value="<?php echo $_config->getAbandonedTimeout();?>">
                                </td>
                                <td class="label">
                                    Number of minutes that have to pass since last update in cart.
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Abandoned cart period
                                </td>
                                <td class="value">
                                    <input type="text" class="input-text" name="qs_abandoned_period" value="<?php echo $_config->getAbandonedPeriod();?>">
                                </td>
                                <td class="label">
                                    Carts older than supplied number of minutes will not be synchronized with Copernica.
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Removed finished cart items
                                </td>
                                <td class="value">
                                    <input type="checkbox" name="qs_remove_finished" <?php if ($_config->getRemoveFinishedQuoteItem()) { ?> checked="checked" <?php } ?>>
                                </td>
                                <td class="label">
                                    Should removed or ordered cart items be deleted from subprofile?
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <button type="button" name="qs_save" id="qs_save">Save queue settings</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="entry-edit">
    <form action="<?php echo $this->getStoresPostUrl(); ?>" method="post" name="ss_form" id="ss_form"> 
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">
                Stores settings
            </h4>
        </div>

        <div class="fieldset">
            <div class="hor-scroll">
                <table cellspacing="0" class="form-list">
                    <tbody>
                        <tr>
                            <td class="label">
                                Stores to synchronize
                            </td>
                            <td class="value">
                                <input type="checkbox" value="true" id="chk-store-disable" name="chk-store-disable" <?php if (is_null($_config->getEnabledStores())) { ?> checked="checked" <?php } ?>
                                <label for="chk-store-disable">
                                    Do not filter stores
                                </label>
                                <br>
                                <?php
                                    foreach(Mage::app()->getWebsites(true) as $website){
                                        foreach($website->getGroups() as $group){
                                            foreach($group->getStores(true) as $store) {

                                                $enabledStore = is_array($_config->getEnabledStores()) && in_array($store->getId(), $_config->getEnabledStores());

                                                ?>
                                                    <input type="checkbox" name="store[]" id="chk-store-<?php echo $store->getId(); ?>" value="<?php echo $store->getId(); ?>" <?php if ($enabledStore) { ?> checked="checked" <?php } ?>>
                                                    <label for="chk-store-<?php echo $store->getId(); ?>">
                                                        <?php echo $website->getName().' > '.$group->getName().' > '.$store->getName(); ?>
                                                    </label>
                                                    <br>
                                                <?php
                                            }
                                        }
                                    }
                                ?>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                <button type="button" name="ss_save" id="ss_save">Save stores settings</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>